/* ======================================Chung=============================================== */

nav ul li a {
  text-decoration: none;
}

button {
  border: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  background-color: #2e80ce;
  display: inline-block;
  border-radius: 999px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 6rem;
  text-align: center;
  font-weight: 400;
  min-width: 205px;
  text-decoration: none;
}

.heading--title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
/* ======================================Header=============================================== */

header {
  padding-top: 30px;
  height: 100vh;
  background-color: rgb(16, 55, 92);
}

.header .header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav ul li a {
  padding: 8px 21px;
}

.header__nav ul li a:hover {
  font-weight: 600;
  color: #fff;
}
.navbar__content-item--active {
  color: #fff;
}
.navbar__content-item--active::before {
  position: relative;
  content: "";
  display: inline-block;

  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  top: -2px;
  right: 6px;
}

.header__btn--signin {
  min-width: 144px;
  font-weight: 300;
  line-height: 4.4rem;
}

.header__btn--login {
  background-color: rgb(16, 55, 92);
  padding: 8px 21px;
  margin-left: 7px;
}
/* ================================hero============================================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__midia {
  flex: 1;
}
.hero__heading {
  font-family: Sora;
  color: #fff;
  font-weight: 600;
  font-size: 7rem;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;

  font-size: 18px;
  font-weight: 300;
  line-height: 30.06px;
  margin: 22px 0px 0px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero__img--large {
  z-index: 99;
  margin-right: -6px;
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 6px;
  object-fit: cover;
}

/* =======================================service======================================= */

.services {
  padding: 170px 0;
  display: flex;
  justify-content: center;
}
.services__heading {
  text-align: center;
}

.services__desc {
  text-align: center;
  width: 468px;
  margin: 0 auto;
}
.services__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.services__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
}

.services__list {
  width: 470px;
}
.services__item {
  display: flex;
  padding: 21px;
}

.services__icon {
  width: 60px;
  height: 60px;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 30px;
  box-shadow: #0000000d 0px 8px 16px 0px;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 16px;
  margin: 0px 19px 0px 0px;
  transition: 0.5s;
}

.services__heading3 {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services__desc {
  margin-top: 8px;
  width: 349px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: start;
}
.services__btn {
  margin-top: 55px;
}
.services__item:hover {
  cursor: pointer;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services__item:hover .services__icon {
  cursor: pointer;
  background-color: #2e80ce;
  color: #fff;
}

/* ====================================Works======================================================= */
.works {
  padding: 100px 0;
  background-color: #e5e4ff;
  margin-bottom: 85px;
}
.works__desc {
  margin-top: 18px;
  width: 468px;
}

.works__item--heading {
  margin-top: 28px;

  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.works__item--desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin: 18px 0;
}

.works__item--more {
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: #2e80ce;

}

.works__list{
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px ;
}
.works__item{
  padding: 43px;
 border:  16px solid #eaf6ff;
 transition: 0.25s;
}

.works__item:hover{
  border-color: #2e80ce;
  transform: translateY(-16px);
  
}
/* =======================about================================================= */

.about{
  padding: 85px 0 206px;

}
.about .container{
  display: flex;
  justify-content: space-between;
}
/*  item right */
.about__images{
  display: flex;
  position: relative;
  width: 49%;

}

.about__images--big{
  width: 512px;
  height: 370px;
  object-fit: cover;
}
.about__images--small{
  z-index: 3;
  position: absolute;
  top: 121px;
  left: 238px;
  width: 322px;
  height: 370px;
  object-fit: cover;
}

/* item left */
.about--content{
  width: 40%;

   display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: start; 

}

/* ================================team================================================== */
