/* ======================================Chung=============================================== */

nav ul li a {
  text-decoration: none;
}

button {
  border: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  background-color: #2e80ce;
  display: inline-block;
  border-radius: 999px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 6rem;
  text-align: center;
  font-weight: 400;
  min-width: 205px;
  text-decoration: none;
}

.heading--title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
/* ======================================Header=============================================== */

header {
  padding-top: 30px;
  height: 100vh;
  background-color: rgb(16, 55, 92);
}

.header .header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav ul li a {
  padding: 8px 21px;
}

.header__nav ul li a:hover {
  font-weight: 600;
  color: #fff;
}
.navbar__content-item--active {
  color: #fff;
}
.navbar__content-item--active::before {
  position: relative;
  content: "";
  display: inline-block;

  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  top: -2px;
  right: 6px;
}

.header__btn--signin {
  min-width: 144px;
  font-weight: 300;
  line-height: 4.4rem;
}

.header__btn--login {
  background-color: rgb(16, 55, 92);
  padding: 8px 21px;
  margin-left: 7px;
}
/* ================================hero============================================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__midia {
  flex: 1;
}
.hero__heading {
  font-family: Sora;
  color: #fff;
  font-weight: 600;
  font-size: 7rem;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;

  font-size: 18px;
  font-weight: 300;
  line-height: 30.06px;
  margin: 22px 0px 0px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero__img--large {
  z-index: 99;
  margin-right: -6px;
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 6px;
  object-fit: cover;
}

/* =======================================service======================================= */

.services {
  padding: 170px 0;
  display: flex;
  justify-content: center;
}
.services__heading {
  text-align: center;
}

.services__desc {
  text-align: center;
  width: 468px;
  margin: 0 auto;
}
.services__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.services__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
}

.services__list {
  width: 470px;
}
.services__item {
  display: flex;
  padding: 21px;
}

.services__icon {
  width: 60px;
  height: 60px;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 30px;
  box-shadow: #0000000d 0px 8px 16px 0px;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 16px;
  margin: 0px 19px 0px 0px;
  transition: 0.5s;
}

.services__heading3 {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services__desc {
  margin-top: 8px;
  width: 349px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: start;
}
.services__btn {
  margin-top: 55px;
}
.services__item:hover {
  cursor: pointer;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services__item:hover .services__icon {
  cursor: pointer;
  background-color: #2e80ce;
  color: #fff;
}

/* ====================================Works======================================================= */
.works {
  padding: 100px 0;
  background-color: #e5e4ff;
  margin-bottom: 85px;
}
.works__desc {
  margin-top: 18px;
  width: 468px;
}

.works__item--heading {
  margin-top: 28px;

  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.works__item--desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin: 18px 0;
}

.works__item--more {
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: #2e80ce;
}

.works__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.works__item {
  padding: 43px;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.works__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
/* =======================about================================================= */

.about {
  padding: 85px 0 206px;
}
.about .container {
  display: flex;
  justify-content: space-between;
}
/*  item right */
.about__images {
  display: flex;
  position: relative;
  width: 49%;
}

.about__images--big {
  width: 512px;
  height: 370px;
  object-fit: cover;
}
.about__images--small {
  z-index: 3;
  position: absolute;
  top: 121px;
  left: 238px;
  width: 322px;
  height: 370px;
  object-fit: cover;
}

/* item left */
.about--content {
  width: 40%;

  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

/* ================================team================================================== */

.team {
  margin: 85px 0;
}
.team__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team__heading {
  margin-bottom: 38px;
}

/*  list team */

.team__list {
  margin-top: 70px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.team__item--bg {
  background-color: #eaf6ff;
  border-radius: 6px;
  line-height: 16px;
  padding: 28px 0px 0px;
  overflow: hidden;
}
.team__item--thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.5s;
}

.team__item--bg:hover .team__item--thumb {
  cursor: pointer;
  transform: scale(1.2);
}
.team__item--name {
  font-weight: 400;
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}
.team__item--desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

.team__icon {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.team__icon--control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  color: black;
}
.team__icon--control:hover {
  cursor: pointer;
  background-color: #2e80ce;
  color: #fff;
}
.control2 {
  rotate: 180deg;
}

/* ============================================install============================================ */

.install__inner {
  display: flex;
  margin: 180px 0 85px;
  padding: 0 70px;
  background-color: #2e80ce;
  position: relative;
  height: 472px;
  justify-content: space-between;
  align-items: center;
}

.install__images--thumb {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 284px;
  height: 552px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install__heading {
  color: #fff;
}

.install__desc {
  margin: 18px 0 38px;
  color: #fff;
}
.install__row {
  display: flex;
  gap: 38px;
}

/* =================================blog========================================= */
.blog {
  padding: 85px 0;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content {
  width: 40%;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.blog__content .team__icon {
  justify-content: start;
}

.blog__read {
  display: inline-block;
  font-weight: 600;
  color: #10375c;
}
.blog__list {
  width: 49%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.blog__item--img {
  width: 270px;
  height: 172px;
  object-fit: cover;
}
.blog__item.item1 {
  grid-column: 1;
}

/* ===================================foooter======================================== */

.footer {
  padding-top: 100px;

  background-color: #10375c;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  gap: 78px;
}

.footer__desc {
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-top: 21px;
}
.footer__desc2 {
  display: inline;
  text-align: start;
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.75;
}
.footer__heading {
  font-size: 1.5rem;
  margin-bottom: 23px;
  font-weight: 500;
  color: #fff;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__heading.heading2 {
  margin-top: 28px;
}

.team-icon {
  gap: 6px;
  display: flex;
  margin: 20px 0;
}
.footer__social-btn:hover {
  color: #fff;
  background-color: #2e80ce;
}
.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  color: #10375c;
}

.footer__form{
  margin-top: 10px;
}
.footer__btn {
  height: 44px;
  border: none;
  padding: 1px 6px;
  background-color: #2e80ce;
  border-radius: 4px;
  color: #fff;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  max-width: 108px;
}

.form-input {
  width: 212px;
  height: 46px;
  background-color: transparent;
  border-color: #406181;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.8px;
  color: #fff;
  font-family: Open Sans;
  padding: 1px 2px;
}
